---
import PageLayout from "@/layouts/Base";
const meta = {
	title: "页面丢失",
	description: "",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">没关系 , 问题不大 !</h1>
	<p class="mb-8">傻了吧 ~ 问题很大 !</p>
	</div>
</PageLayout>
